In [21]:
import pandas as pd


def map_feature_portfolio(infile, metric='%score', mean_across_maps=False):
    df = pd.read_csv(infile)
    df = df.rename(columns = {'strat':'portfolio'}) # renames the portfolio column
    df = df[df.test_pos == 2] #filters to get the data for the average on both positions

    # builds a hierarchical (multiindex) data frame (kinda groups by map, strategy & units)
    hier = df.set_index(['feature', 'mapname', 'portfolio']) 


    # displays the results in appropriate format
    unstacked = hier.unstack(2)[metric]
    #unstacked.rename(columns={2: "col0"}) ## failed attempt to rename the portfolio names
    
    if mean_across_maps: 
        return unstacked.groupby(level=['feature']).mean()
    else:
        return unstacked
    
# displays the results for all adversaries
opponents = ['SSSmRTS','StrategyTactics','PuppetSearchMCTS','WorkerRush','LightRush'] #A3N gives errors w/o budget =/
print("No search budget")
for o in opponents:
    print("---{}---".format(o))
    display(map_feature_portfolio('../results/parameters/{}_avg.csv'.format(o), '%score', True))

No search budget
---SSSmRTS---

portfolio,WR_LR_RR_HR,WR_LR_RR_HR_BB_BK,WR_LR_RR_HR_WD_LD_RD_HD,WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature,,,,
materialdistancehp,49.083333,38.958333,41.369048,43.809524
quadrantmodel,30.952381,NaN,NaN,40.773810

---StrategyTactics---

portfolio,WR_LR_RR_HR,WR_LR_RR_HR_BB_BK,WR_LR_RR_HR_WD_LD_RD_HD,WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature,,,,
materialdistancehp,66.708333,65.390625,74.107143,72.797619
quadrantmodel,65.476190,NaN,NaN,63.690476

---PuppetSearchMCTS---

portfolio,WR_LR_RR_HR,WR_LR_RR_HR_BB_BK,WR_LR_RR_HR_WD_LD_RD_HD,WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature,,,,
materialdistancehp,66.166667,65.703125,66.72619,77.721464
quadrantmodel,75.867347,NaN,NaN,69.702381

---WorkerRush---

portfolio,WR_LR_RR_HR,WR_LR_RR_HR_BB_BK,WR_LR_RR_HR_WD_LD_RD_HD,WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature,,,,
materialdistancehp,67.500000,59.375,59.52381,64.285714
quadrantmodel,61.904762,NaN,NaN,65.476190

---LightRush---

portfolio,WR_LR_RR_HR,WR_LR_RR_HR_BB_BK,WR_LR_RR_HR_WD_LD_RD_HD,WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature,,,,
materialdistancehp,64.166667,51.041667,64.285714,69.047619
quadrantmodel,57.142857,NaN,NaN,55.952381

In [22]:
print("With search budget")
for o in opponents:
    print("---{}---".format(o))
    display(map_feature_portfolio('../results/parameters/{}_b100_avg.csv'.format(o), '%score', True))

With search budget
---SSSmRTS---

portfolio           WR_LR_RR_HR  WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature
materialdistancehp    12.666667                            NaN
quadrantmodel               NaN                          13.75

---StrategyTactics---

portfolio           WR_LR_RR_HR  WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature
materialdistancehp    50.833333                            NaN
quadrantmodel               NaN                      37.222222

---PuppetSearchMCTS---

portfolio           WR_LR_RR_HR
feature
materialdistancehp    47.722222

---WorkerRush---

portfolio           WR_LR_RR_HR  WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature
materialdistancehp    47.333333                            NaN
quadrantmodel               NaN                      32.777778

---LightRush---

portfolio           WR_LR_RR_HR  WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature
materialdistancehp    37.916667                            NaN
quadrantmodel               NaN                      32.222222

In [6]:
### TEST TO GET THE AVERAGE ACROSS MAPS

df = pd.read_csv('../results/parameters/A3N_b100_avg.csv')
df = df[df.test_pos == 2] #filters to get the data for the average on both positions

# builds a hierarchical (multiindex) data frame (kinda groups by map, strategy & units)
hier = df.set_index(['feature', 'mapname', 'strat']) 


# displays the results in appropriate format
unstacked = hier.unstack(2)['%score']
display(unstacked)
display(unstacked.groupby(level=['feature']).mean()) # this is what i want!

strat                                       WR_LR_RR_HR  \
feature            mapname
materialdistancehp (4)BloodBath.scmB          12.500000
                   BWDistantResources32x32    51.250000
                   FourBasesWorkers8x8        51.250000
                   basesWorkers16x16A         26.666667
                   basesWorkers32x32A         26.250000
quadrantmodel      basesWorkers16x16A               NaN
                   basesWorkers32x32A               NaN
                   basesWorkers8x8                  NaN

strat                                       WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature            mapname
materialdistancehp (4)BloodBath.scmB                                  NaN
                   BWDistantResources32x32                            NaN
                   FourBasesWorkers8x8                                NaN
                   basesWorkers16x16A                                 NaN
                   basesWorkers32x32A                                 NaN
quadrantmodel      basesWorkers16x16A                           15.833333
                   basesWorkers32x32A                           18.333333
                   basesWorkers8x8                              70.416667

strat               WR_LR_RR_HR  WR_LR_RR_HR_WD_LD_RD_HD_BB_BK
feature
materialdistancehp    33.583333                            NaN
quadrantmodel               NaN                      34.861111